<footer class="bg-gray-900 pb-10">
   <p class="block text-center text-sm mb-6">
    Built by
    <a target="_blank" href="http://twitter.com/mihaisafta_">
      Safta Catalin Mihai
    </a>
  </p>

  <p class="block text-center text-sm mb-6">
    <a target="_blank" href="/privacy-policy">
      Privacy Policy
    </a>
  </p>

</footer>